<% if (page.id == '01') { %>
  <p class="page01"><img src="https://picsum.photos/200/100/?random" alt="こちらはパターン1用のバナーです"></p>
<% %>
<% } else if (page.id == '02') { %>
  <p class="page02"> <img src="https://picsum.photos/600/600/?blur" alt="こちらはパターン2用のバナーです"></p>
<% } else { %>
  <p>その他ページです。</p>
<% } %>