<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet" href="/assets/css/index.css")
    
  body
    include include/_header.pug
    div
      | あいうおえaaaab
    p HTML  CSS  Result EDIT ON
    //- .container
    //-   header ヘッダー
    //-   aside サイドバー
    //-   main メインコンテンツ
    //-   footer フッター

    .grid
      .item
        img(src='http://placehold.it/240x150', alt='')
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .item
        img(src='http://placehold.it/240x150', alt='')
        p
          | Nulla pharetra porta sagittis. Mauris et suscipit diam. Sed sollicitudin, dui at vulputate varius.
      .item
        img(src='http://placehold.it/240x150', alt='')
        p
          | Integer ornare felis eu risus ultrices pharetra eu non velit.
      .item
        img(src='http://placehold.it/240x150', alt='')
        p
          | Sed a maximus dui, quis semper felis. Quisque tincidunt dapibus pellentesque.
      .item
        img(src='http://placehold.it/240x150', alt='')
        p
          | Sed eu sem lacinia, commodo orci non, vulputate neque.
      .item
        img(src='http://placehold.it/240x150', alt='')
        p
          | Integer ornare felis eu risus ultrices pharetra eu non velit.