@charset "UTF-8";

#calendar {

  @include mq() {
    width: 604px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .table-bg {
    width: 196px;
    height: 175px;
    background: resolve("calendar_spright_sheet.png") no-repeat -170px 0px;
    padding: 0;
    margin:  0 auto 16px;

    @include mq() {
      margin-bottom: 0;
    }

    table {
      display: block;
      width: 176px;
      height: 175px;
      margin: 0 0 0 11px;
      .clear {
        clear: left;
      }
      thead {
        display: table;
        width: 176px;
      }
      tbody {
        display: block;
        width: 176px;
        td div {
          width: 17px;
          height: 11px;
          margin: 0 0 2px 5px;
        }
      }
      tr, td {
        margin: 0;
        padding: 0;
      }
      th {
        margin: 0;
        padding: 0;
        font-weight: bold;
        font-size: 0.8rem;
        letter-spacing: 1px;
        color: $color-grayD;
        @include font-jp(h);
        text-align: center;
        padding-top: 10px;
        padding-bottom: 28px;
      }
      tr {
        width: 176px;
      }
      td {
        width: 26px;
        height: 18px;
      }
      .show-mark {
        background: resolve("calendar_spright_sheet.png") no-repeat 0px -132px;
      }
      .weekd-1 {
        background: resolve("calendar_spright_sheet.png") no-repeat 0px 0px;
      }
      .sat-1 {
        background: resolve("calendar_spright_sheet.png") no-repeat 0px -44px;
      }
      .sun-1 {
        background: resolve("calendar_spright_sheet.png") no-repeat 0px -88px;
      }
      .weekd-2 {
        background: resolve("calendar_spright_sheet.png") no-repeat -17px 0px;
      }
      .sat-2 {
        background: resolve("calendar_spright_sheet.png") no-repeat -17px -44px;
      }
      .sun-2 {
        background: resolve("calendar_spright_sheet.png") no-repeat -17px -88px;
      }
      .weekd-3 {
        background: resolve("calendar_spright_sheet.png") no-repeat -34px 0px;
      }
      .sat-3 {
        background: resolve("calendar_spright_sheet.png") no-repeat -34px -44px;
      }
      .sun-3 {
        background: resolve("calendar_spright_sheet.png") no-repeat -34px -88px;
      }
      .weekd-4 {
        background: resolve("calendar_spright_sheet.png") no-repeat -51px 0px;
      }
      .sat-4 {
        background: resolve("calendar_spright_sheet.png") no-repeat -51px -44px;
      }
      .sun-4 {
        background: resolve("calendar_spright_sheet.png") no-repeat -51px -88px;
      }
      .weekd-5 {
        background: resolve("calendar_spright_sheet.png") no-repeat -68px 0px;
      }
      .sat-5 {
        background: resolve("calendar_spright_sheet.png") no-repeat -68px -44px;
      }
      .sun-5 {
        background: resolve("calendar_spright_sheet.png") no-repeat -68px -88px;
      }
      .weekd-6 {
        background: resolve("calendar_spright_sheet.png") no-repeat -85px 0px;
      }
      .sat-6 {
        background: resolve("calendar_spright_sheet.png") no-repeat -85px -44px;
      }
      .sun-6 {
        background: resolve("calendar_spright_sheet.png") no-repeat -85px -88px;
      }
      .weekd-7 {
        background: resolve("calendar_spright_sheet.png") no-repeat -102px 0px;
      }
      .sat-7 {
        background: resolve("calendar_spright_sheet.png") no-repeat -102px -44px;
      }
      .sun-7 {
        background: resolve("calendar_spright_sheet.png") no-repeat -102px -88px;
      }
      .weekd-8 {
        background: resolve("calendar_spright_sheet.png") no-repeat -119px 0px;
      }
      .sat-8 {
        background: resolve("calendar_spright_sheet.png") no-repeat -119px -44px;
      }
      .sun-8 {
        background: resolve("calendar_spright_sheet.png") no-repeat -119px -88px;
      }
      .weekd-9 {
        background: resolve("calendar_spright_sheet.png") no-repeat -136px 0px;
      }
      .sat-9 {
        background: resolve("calendar_spright_sheet.png") no-repeat -136px -44px;
      }
      .sun-9 {
        background: resolve("calendar_spright_sheet.png") no-repeat -136px -88px;
      }
      .weekd-10 {
        background: resolve("calendar_spright_sheet.png") no-repeat -153px 0px;
      }
      .sat-10 {
        background: resolve("calendar_spright_sheet.png") no-repeat -153px -44px;
      }
      .sun-10 {
        background: resolve("calendar_spright_sheet.png") no-repeat -153px -88px;
      }
      .weekd-11 {
        background: resolve("calendar_spright_sheet.png") no-repeat 0px -11px;
      }
      .sat-11 {
        background: resolve("calendar_spright_sheet.png") no-repeat 0px -55px;
      }
      .sun-11 {
        background: resolve("calendar_spright_sheet.png") no-repeat 0px -99px;
      }
      .weekd-12 {
        background: resolve("calendar_spright_sheet.png") no-repeat -17px -11px;
      }
      .sat-12 {
        background: resolve("calendar_spright_sheet.png") no-repeat -17px -55px;
      }
      .sun-12 {
        background: resolve("calendar_spright_sheet.png") no-repeat -17px -99px;
      }
      .weekd-13 {
        background: resolve("calendar_spright_sheet.png") no-repeat -34px -11px;
      }
      .sat-13 {
        background: resolve("calendar_spright_sheet.png") no-repeat -34px -55px;
      }
      .sun-13 {
        background: resolve("calendar_spright_sheet.png") no-repeat -34px -99px;
      }
      .weekd-14 {
        background: resolve("calendar_spright_sheet.png") no-repeat -51px -11px;
      }
      .sat-14 {
        background: resolve("calendar_spright_sheet.png") no-repeat -51px -55px;
      }
      .sun-14 {
        background: resolve("calendar_spright_sheet.png") no-repeat -51px -99px;
      }
      .weekd-15 {
        background: resolve("calendar_spright_sheet.png") no-repeat -68px -11px;
      }
      .sat-15 {
        background: resolve("calendar_spright_sheet.png") no-repeat -68px -55px;
      }
      .sun-15 {
        background: resolve("calendar_spright_sheet.png") no-repeat -68px -99px;
      }
      .weekd-16 {
        background: resolve("calendar_spright_sheet.png") no-repeat -85px -11px;
      }
      .sat-16 {
        background: resolve("calendar_spright_sheet.png") no-repeat -85px -55px;
      }
      .sun-16 {
        background: resolve("calendar_spright_sheet.png") no-repeat -85px -99px;
      }
      .weekd-17 {
        background: resolve("calendar_spright_sheet.png") no-repeat -102px -11px;
      }
      .sat-17 {
        background: resolve("calendar_spright_sheet.png") no-repeat -102px -55px;
      }
      .sun-17 {
        background: resolve("calendar_spright_sheet.png") no-repeat -102px -99px;
      }
      .weekd-18 {
        background: resolve("calendar_spright_sheet.png") no-repeat -119px -11px;
      }
      .sat-18 {
        background: resolve("calendar_spright_sheet.png") no-repeat -119px -55px;
      }
      .sun-18 {
        background: resolve("calendar_spright_sheet.png") no-repeat -119px -99px;
      }
      .weekd-19 {
        background: resolve("calendar_spright_sheet.png") no-repeat -136px -11px;
      }
      .sat-19 {
        background: resolve("calendar_spright_sheet.png") no-repeat -136px -55px;
      }
      .sun-19 {
        background: resolve("calendar_spright_sheet.png") no-repeat -136px -99px;
      }
      .weekd-20 {
        background: resolve("calendar_spright_sheet.png") no-repeat -153px -11px;
      }
      .sat-20 {
        background: resolve("calendar_spright_sheet.png") no-repeat -153px -55px;
      }
      .sun-20 {
        background: resolve("calendar_spright_sheet.png") no-repeat -153px -99px;
      }
      .weekd-21 {
        background: resolve("calendar_spright_sheet.png") no-repeat 0px -22px;
      }
      .sat-21 {
        background: resolve("calendar_spright_sheet.png") no-repeat 0px -66px;
      }
      .sun-21 {
        background: resolve("calendar_spright_sheet.png") no-repeat 0px -110px;
      }
      .weekd-22 {
        background: resolve("calendar_spright_sheet.png") no-repeat -17px -22px;
      }
      .sat-22 {
        background: resolve("calendar_spright_sheet.png") no-repeat -17px -66px;
      }
      .sun-22 {
        background: resolve("calendar_spright_sheet.png") no-repeat -17px -110px;
      }
      .weekd-23 {
        background: resolve("calendar_spright_sheet.png") no-repeat -34px -22px;
      }
      .sat-23 {
        background: resolve("calendar_spright_sheet.png") no-repeat -34px -66px;
      }
      .sun-23 {
        background: resolve("calendar_spright_sheet.png") no-repeat -34px -110px;
      }
      .weekd-24 {
        background: resolve("calendar_spright_sheet.png") no-repeat -51px -22px;
      }
      .sat-24 {
        background: resolve("calendar_spright_sheet.png") no-repeat -51px -66px;
      }
      .sun-24 {
        background: resolve("calendar_spright_sheet.png") no-repeat -51px -110px;
      }
      .weekd-25 {
        background: resolve("calendar_spright_sheet.png") no-repeat -68px -22px;
      }
      .sat-25 {
        background: resolve("calendar_spright_sheet.png") no-repeat -68px -66px;
      }
      .sun-25 {
        background: resolve("calendar_spright_sheet.png") no-repeat -68px -110px;
      }
      .weekd-26 {
        background: resolve("calendar_spright_sheet.png") no-repeat -85px -22px;
      }
      .sat-26 {
        background: resolve("calendar_spright_sheet.png") no-repeat -85px -66px;
      }
      .sun-26 {
        background: resolve("calendar_spright_sheet.png") no-repeat -85px -110px;
      }
      .weekd-27 {
        background: resolve("calendar_spright_sheet.png") no-repeat -102px -22px;
      }
      .sat-27 {
        background: resolve("calendar_spright_sheet.png") no-repeat -102px -66px;
      }
      .sun-27 {
        background: resolve("calendar_spright_sheet.png") no-repeat -102px -110px;
      }
      .weekd-28 {
        background: resolve("calendar_spright_sheet.png") no-repeat -119px -22px;
      }
      .sat-28 {
        background: resolve("calendar_spright_sheet.png") no-repeat -119px -66px;
      }
      .sun-28 {
        background: resolve("calendar_spright_sheet.png") no-repeat -119px -110px;
      }
      .weekd-29 {
        background: resolve("calendar_spright_sheet.png") no-repeat -136px -22px;
      }
      .sat-29 {
        background: resolve("calendar_spright_sheet.png") no-repeat -136px -66px;
      }
      .sun-29 {
        background: resolve("calendar_spright_sheet.png") no-repeat -136px -110px;
      }
      .weekd-30 {
        background: resolve("calendar_spright_sheet.png") no-repeat -153px -22px;
      }
      .sat-30 {
        background: resolve("calendar_spright_sheet.png") no-repeat -153px -66px;
      }
      .sun-30 {
        background: resolve("calendar_spright_sheet.png") no-repeat -153px -110px;
      }
      .weekd-31 {
        background: resolve("calendar_spright_sheet.png") no-repeat 0px -33px;
      }
      .sat-31 {
        background: resolve("calendar_spright_sheet.png") no-repeat 0px -77px;
      }
      .sun-31 {
        background: resolve("calendar_spright_sheet.png") no-repeat 0px -121px;
      }
      .weekd-32 {
        background: resolve("calendar_spright_sheet.png") no-repeat -17px -33px;
      }
      .sat-32 {
        background: resolve("calendar_spright_sheet.png") no-repeat -17px -77px;
      }
      .sun-32 {
        background: resolve("calendar_spright_sheet.png") no-repeat -17px -121px;
      }
    }
  }
}
