@charset "UTF-8";

.header-title {
  &--primary {
    font-size: fz(22);
    @include font-jp();
    text-align: center;
    letter-spacing: .1rem;
    padding: 0 0 32px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: "palt" 1;
    font-feature-settings: "palt" 1;

        @include small-text(22);

    @include mq() {
      font-size: fz(28);
      padding: 0 0 48px;
      @include small-text(28);
    }

    &::after {
      content: attr(data-en);
      display: block;
      font-size: fz(12);
      // font-family: Montserrat,sans-serif;
      color: lighten($text-base, 50);
      letter-spacing: 0px;
      margin-top: 8px;
      text-shadow: none;
      @include mq() {
        margin-top: 10px;
      }

      @at-root .header-title--primary.white::after {
        color: darken(#FFFFFF, 25);
      }
    }

// タイトルに用いている動物の大きさの縮小率
$animal-size-sp: 3;
$animal-size-pc: 2.2;

    &.animal {
      padding-top: 80px;
      @include mq() {
        padding-top: 100px;
      }

      &.neko {
        background: resolve("parts-section-title-neko.png") top center no-repeat;
        background-size:
          width("parts-section-title-neko.png",$animal-size-sp)
          height("parts-section-title-neko.png",$animal-size-sp);
        @include mq() {
          background-size:
            width("parts-section-title-neko.png",$animal-size-pc)
            height("parts-section-title-neko.png",$animal-size-pc);
        }
      }
      &.kuma {
        background: resolve("parts-section-title-kuma.png") top center no-repeat;
        background-size:
          width("parts-section-title-kuma.png",$animal-size-sp)
          height("parts-section-title-kuma.png",$animal-size-sp);
        @include mq() {
        background-size:
          width("parts-section-title-kuma.png",$animal-size-pc)
          height("parts-section-title-kuma.png",$animal-size-pc);
        }
      }
      &.risu {
        background: resolve("parts-section-title-risu.png") top center no-repeat;
        background-size:
          width("parts-section-title-risu.png",$animal-size-sp)
          height("parts-section-title-risu.png",$animal-size-sp);
        @include mq() {
        background-size:
          width("parts-section-title-risu.png",$animal-size-pc)
          height("parts-section-title-risu.png",$animal-size-pc);
        }
      }
    }
    &.secondary {
      font-size: fz(18);
      letter-spacing: 0;
      @include font-jp();
      @include small-text(18);

      @include mq() {
        font-size: fz(24);
      }
    }
  }

  &--description {
    padding: 0 8%;
    margin-bottom: 56px;
    @include mq() {
      text-align: center;
    }
    em {
      text-align: center;
      display: block;
      font-weight: bold;
    }
    a {
      text-decoration: underline;
    }
  }
}

// こんな人が受講しました
// ================================
.person-attendance {
  .header-title {
    &--primary {
      color: #FFF;
      padding: 56px 0 8px;
    }
    &--description {
      color: #FFF;
      text-align: center;
      margin-bottom: 80px;
    }
  }
}
